.form {
    /* background-color: rgba(105, 175, 233, 0.61); */
    margin: 15px;
    width: max-content;
    flex-wrap: wrap;
    flex-direction: row;
}

.tabela-titulo{
    background-color: rgba(56, 131, 192, 0.678);;
    border-radius: 10px 10px;
    padding: 5px;
}

