#tabela-item{
    font-size: 20px;
    text-align: center;
    border-width: 0px 1px 1px 1px ;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    margin: 5px;
}

#tabela-tarefas{
    background-color: rgba(105, 175, 233, 0.61);
    border-radius: 10px;
    padding: 9px;
    width: 85%;
    border: 1px solid black;
}

#form-botao{
    background-color: rgba(122, 201, 4, 0.644);
}

