body{
    background-color: rgb(201, 225, 248);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

p{
    font-size: 15px;
}

fieldset {
    border: 3px double #333;
    color: #000;
    margin: 10px 0 0 0;
}

label {
    display: block;
    margin: 10px 0 0 0;
}


input[type=text],
textarea {
    width: 100%;
    border: 1px solid #333;
    padding: 3px;
    border-radius: 5px;
}

input[type=submit] {
    float: right;
    clear: both;
}